body{
	display: inline-flex;
}
.plot {
  margin: 0 auto;
  margin-top: 0vh;
  border: 1px solid black;
  height: 5vh;
  min-height: 300px;
  width : 30vw;
  /*float: left;*/
}



#params{
	/*float: left;*/
	width : 30vw;
	/*background-color: #4CAF50;*/
}

input{
  width: 40%;
  padding: 12px 20px;
  margin: 1vw 0;
  box-sizing: border-box;
}

.button {
  /*background-color: #4CAF50; /* Green */*/
  border: none;
  /*color: white;*/
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;

  display: inline-block;
  /*border-radius: 4px;*/
  /*background-color: #f4511e;*/
  /*border: none;*/
  /*color: #FFFFFF;*/
  /*text-align: center;*/
  /*font-size: 28px;*/
  /*padding: 20px;*/
  width: 200px;
  transition: all 0.5s;
  /*cursor: pointer;*/
  /*margin: 5px;*/
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}